################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Compact.Services/Compact.Services.Api/Properties/ServiceDependencies/CompactServicesApi - Web Deploy
/Compact.Services/Compact.Services.Api/Properties
